.container-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  min-height: 65vh;
  background-color: black;
  font-family: Manrope, sans-serif;
}

.about-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Texte en blanc */
  
}

.about-title h2 {
  margin-bottom: 20px; /* Ajouter un espacement en dessous du titre */
  font-weight: bold;
}

.about-content {
  color: white;
  padding: 20px;
}
.about-content p {
  margin-bottom: 20px; /* Ajoutez ici la marge basse */
}


.my-photo {
  width: 200px; /* Largeur de la photo */
  
  margin-bottom: 20px; /* Ajouter un espacement en dessous de la photo */
}
