.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: black; /* Fond gris */
  color: white; /* Texte noir */
  width: 100%;
  padding: 40px 0;

  .besoin-aide {
    font-size: 20px; /* Taille du titre */
    font-weight: bold;
    font-family: Manrope, sans-serif; /* Police Manrope sans-serif */
    margin-bottom: 20px;
  }

  .contact-form {
    width: 100%;
    max-width: 400px;
    font-size: 16px; /* Taille du texte du formulaire */

    label {
      display: block;
      margin-bottom: 10px;
      font-family: Manrope, sans-serif; /* Police Manrope sans-serif */
    }

    input,
    textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid grey;
      border-radius: 5px;
      font-family: Manrope, sans-serif; /* Police Manrope sans-serif */
    }

    button {
      width: 100%;
      padding: 10px;
      background-color: grey;
      color: white;
      border: none;
      border-radius: 5px;
      font-family: Manrope, sans-serif; /* Police Manrope sans-serif */
      cursor: pointer;

      &:hover {
        background-color: darkgrey;
      }
    }
  }

  .footer-text {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;

    .footer-icons {
      margin-top: 20px;
    }

    img {
      width: 30px;
      margin-right: 10px;
      filter: invert(1);
    }

    a {
      color: black; /* Texte des liens en noir */
      text-decoration: none;
    }
  }
}
